extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Sign Up &amp; Chat
    p.lead Sed dictum dolor vitae dignissim scelerisque. Ut tincidunt, tortor at accumsan eleifend, tellus lectus vestibulum nibh, accumsan sagittis turpis nisl eu mauris.


